{% extends 'base.html' %}
{% load static %}

{% block content %}
 
 <!-- Title and welcome message -->
 <div class="homepage">
    <img src="/media/bosnia-kravice-falls.jpg" alt="homepage waterfalls image" class="homepage-img">
    <div class="welcome">
        <h1>Welcome to Paddy and Sammie's Adventures!</h1>
        <p>We hope our stories inspire you to go on your own adventures...</p>
        <a href="{% url 'destinations' %}" class="btn btn-lg dest-btn">View Destinations</a>
    </div>
</div>

{% endblock %}