/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand&display=swap');

/* ----------------------------------------------- Body Styling */

html, body {
    height: 100%; /* required for sticky footer*/
  }

body {
    font-family: 'Quicksand', sans-serif;
    /* required for sticky footer */
    display: flex; 
    flex-direction: column;
}

.content {
    /* required for sticky footer */
    flex: 1 0 auto;
  }

/* ----------------------------------------------- All Page Styling */

.headings {
    text-align: center;
    padding: 15px;
    margin: 15px;
}

/* ----------------------------------------------- Navigation Styling */
.navbar-bg {
    background-color: #74d7aea9;
}

.navbar-brand {
    font-family: 'Caveat', cursive;
    font-size: 36px;
}

.nav-div {
    width: 100vw;
    text-align: center;
}

.navbar-nav {
    margin: 0 auto;
}

.nav-link:hover {
    color: #8A2428;
}



/* Code for Nav Underline Hover from https://www.30secondsofcode.org/css/s/hover-underline-animation */

.nav-item {
    display: inline-block;
    position: relative;
  }
  
  .nav-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #8A2428;
    transform-origin: center;
    transition: transform 0.25s ease-out;
  }
  
  .nav-item:hover:after {
    transform: scaleX(1);
    transform-origin: center;
  }

/* ----------------------------------------------- Homepage Styling */

.homepage {
    position: relative;
}

.homepage-img {
    width: 100%;
}

.welcome {
    background-color: rgba(255, 255, 255, 0.489);
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    padding-top: 15%;
    text-align: center;
}

.welcome p {
    font-size: larger;
    font-weight: bolder;
}

.dest-btn {
    background-color: #2aa572d3;
}

.dest-btn:hover {
    background-color: #d66b6fd8 !important;

}

/* ----------------------------------------------- Mailchimp Sign Up Form */
#mc_embed_signup {
    width: 500px;
    margin: 0 auto;
    color: white;
}

#mc-header {
    font-family: 'Caveat', cursive;
}

/* ----------------------------------------------- Footer Styling */

.footer {
    /* background-color: #1D5D4C; */
    background-color:#74d7aea9;
    padding: 3%;
    flex-shrink: 0; /* required for sticky footer*/
    display: flex;
}

.socials {
    width: 28%;
}

.footer a {
    text-decoration: none;
    /* float: left; */
}

.footer-icons {
    color: white;
    font-size: x-large;
    padding-right: 10px;
}

.footer-icons:hover {
    color: #8A2428;
}

.copyright {
    flex-grow: 1;
} 

.copyright-icon {
    color: white;
    padding-right: 10px;
}

.copyright-p {
    float: right;
    color: white;
}
