/* ---------------------------------------------------------- Destination Pages Header */
.destination-page-header {
    text-align: center;
    margin-bottom: 20px;
}

.sub-header {
    text-align: center;
}

/* ----------------------------------------------- Carousel Styling */

.carousel-style {
    margin: 0 auto;
    padding-bottom: 50px;
}

.carousel-imgs {
    height: 350px;
    object-fit: cover;
}

.carousel {
    background: #2aa57286;
    margin-bottom: 30px;
}

.carousel-caption {
    color: black;
    background: #ffffff8d;
    border-radius: 15px;
}

/* Hover Animation from https://css-tricks.com/css-link-hover-effects/ */

.carousel-header {
    background-image: linear-gradient(
      to right,
      #2aa571,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .carousel-header:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .carousel-header:hover {
   background-position: 0;
  }
  
  .carousel-header:hover::before {
    width:100%;
  }

 .carousel-header h4,
 .carousel-caption p {
    font-weight: 550;
  }

/* ---------------------------------------------------------- Destination Cards */
.card {
    padding: 0;
    width: 18rem;
    margin: 10px;
    float: right;
}

.card-img {
    padding: 0;
    margin: 0;
    object-fit: fill;
    max-height: 190px;
}

.card-img:hover {
    opacity: 0.6;
}

.card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.destination-link {
    text-decoration: none;
}

.card-title {
    color: black;
    font-weight: bold;
    transition: transform .2s; /* Animation */
}

.card-title:hover {
    color: aquamarine;
    transform: scale(1.2);
}

/* below code from https://stackdiary.com/gradient-hover-effect-css/ */
.post-btn {
    display: flex;
    padding: 0.875em 2em;
    background: #74d7aea9;
    color: #fff;
    transition: background-color 1s;
    place-content: center;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.post-btn:hover, .post-btn:focus {
background-color: #D66B6F;
color: #fff;
}
/* above code from https://stackdiary.com/gradient-hover-effect-css/ */

.back-btn {
    width: 40%;
    margin: 0 auto;
}

/* ---------------------------------------------------------- Add New Destination Form */
.add-destination-form {
    width: 70%;
    margin-bottom: 50px;
}

.add-destination-form label {
    color: #37A7ED;
    font-weight: bolder;
    padding: 15px 0 15px 0;
}

#id_top_destination {
    margin: 20px 10px 0 0;
}

.form-check {
    padding-left: 0;
}

.add-destination-btn {
    margin: 20px 0 20px 0;
}

/* ---------------------------------------------------------- Destination Details Styling */

.dest-img {
    width: 95%; 
    height: 400px;
    object-fit: cover;
}

.description-icon {
    display: flex;
    justify-content: center;
    color: #D66B6F;
}

.dest-subheading {
    font-style: italic;
    text-align: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dest-content {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
}

.page-break {
    width: 30%;
}

/* ---------------------------------------------------------- Media Queries */

@media screen and (max-width: 767px) {
    .destination-card {
        margin: 0 auto;
    }
}