/* ---------------------------------------------------------- Destination Pages Header */
.destination-page-header {
    text-align: center;
    margin-bottom: 20px;
}

/* ---------------------------------------------------------- Destination Cards */
.card {
    padding: 0;
    width: 18rem;
    margin: 10px;
    float: right;
}

.card-img {
    padding: 0;
    margin: 0;
    object-fit: fill;
    max-height: 190px;
}

.card-img:hover {
    opacity: 0.6;
}

.card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.destination-link {
    text-decoration: none;
}

.card-title {
    color: black;
    font-weight: bold;
    transition: transform .2s; /* Animation */
}

.card-title:hover {
    color: aquamarine;
    transform: scale(1.2);
}

/* below code from https://stackdiary.com/gradient-hover-effect-css/ */
.post-btn {
    display: flex;
    padding: 0.875em 2em;
    background: #74d7aea9;
    color: #fff;
    transition: background-color 1s;
    place-content: center;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.post-btn:hover, .post-btn:focus {
background-color: #D66B6F;
color: #fff;
}
/* above code from https://stackdiary.com/gradient-hover-effect-css/ */

/* ---------------------------------------------------------- Add New Destination Form */
.add-destination-form {
    width: 70%;
    margin-bottom: 50px;
}

.add-destination-form label {
    color: #37A7ED;
    font-weight: bolder;
    padding: 15px 0 15px 0;
}

#id_top_destination {
    margin: 20px 10px 0 0;
}

.form-check {
    padding-left: 0;
}

.add-destination-btn {
    margin: 20px 0 20px 0;
}

/* ---------------------------------------------------------- Destination Details Styling */

.dest-img {
    width: 95%; 
    height: 400px;
    object-fit: cover;
}

.dest-subheading {
    font-style: italic;
    text-align: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dest-content {
    text-align: center;
}

.page-break {
    width: 30%;
}