{% extends "base.html" %}
{% load static %}
{% block title %}All Destinations{% endblock %}

<!-- Additional CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'travel_destinations/css/destinations.css' %}">
{% endblock %}

{% block content %}

<div class="container destinations-container">
    <div>
        <h1 class="headings destination-page-header">Travel Destinations</h1>
    </div>

    <!-- Top 2 Destinations Carousel-->
<div class="carousel-div">
    <div>
        <h4 class="mb-4 mt-4 sub-header">Our Favourite Destinations</h4>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide carousel-style" data-bs-ride="false">
        <!-- <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div> -->
        <div class="carousel-inner bg">
            {% for destinations in top_dest %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                        {% if destinations.destination_image %}
                        <img src="{{ destinations.destination_image.url }}" class="d-block w-100 carousel-imgs" alt="Top Destination">
                        {% else %}
                        <img src="/media/card-placeholder.png" class="d-block w-100 carousel-imgs" alt="Placeholder image">
                        {% endif %}
                        <div class="carousel-caption d-none d-md-block">
                            <a href="#" class="dest-title">
                                <h4 class="dest-title">{{ destinations.destination }}</h4>
                            </a>
                            <!-- <p>{{ destinations.destination_subheading }}</p> -->
                        </div>
                    </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

    <div class="row">
        <h4 class="mb-4 mt-4 sub-header">All Destinations</h4>
        {% for destinations in destinations_list %}
        <div class="card destination-card mb-4">
            {% if destinations.destination_image %}
            <a href="{% url 'destination_details' destinations.slug %}">
                <img src="{{ destinations.destination_image.url }}" class="card-img-top card-img" alt="{{ destinations.destination }}">
            </a>
            <div class="card-body">
                <a href="{% url 'destination_details' destinations.slug %}" class="destination-link dest-title">
                    <h5 class="dest-title">{{ destinations.destination }}</h5>
                </a>
                <p class="card-text">{{ destinations.destination_subheading }}</p>
                <p class="card-text"><small>{{ destinations.created_on }}</small></p>
                <a href="{% url 'destination_details' destinations.slug %}" class="post-btn mt-auto">View Post</a>
            </div>
            {% else %}
            <a href="{% url 'destination_details' destinations.slug %}">
                <img src="/media/card-placeholder.png" class="card-img-top card-img" alt="Placeholder image">
            </a>
            <div class="card-body">
                <a href="{% url 'destination_details' destinations.slug %}" class="destination-link dest-title">
                    <h5 class="dest-title">{{ destinations.destination }}</h5>
                </a>
                <p class="card-text">{{ destinations.destination_subheading }}</p>
                <p class="card-text"><small>{{ destinations.created_on }}</small></p>
                <a href="{% url 'destination_details' destinations.slug %}" class="post-btn mt-auto">View Post</a>
            </div>
            {% endif %}
        </div>
        {% empty %}
        <div>
            <p>No Destinations to display</p>
        </div>
        {% endfor %}
    </div>
    <!-- Site Pagination, maximum 12 recipes per page. From Code Institute Codestar Follow Along Project -->
    <div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark all-btn page">&laquo; Prev
                    </a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-dark all-btn page"> Next &raquo;</a>
                </li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock %}