{% extends "base.html" %}
{% load static %}
{% block title %}All Destinations{% endblock %}

<!-- Additional CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'travel_destinations/css/destinations.css' %}">
{% endblock %}

{% block content %}

<div class="container destinations-container">
    <div>
        <h1 class="headings destination-page-header">Travel Destinations</h1>
    </div>
    <div class="row">
        {% for destinations in destinations_list %}
        <div class="card">
            {% if destinations.destination_image %}
            <a href="{% url 'destination_details' destinations.slug %}">
                <img src="{{ destinations.destination_image.url }}" class="card-img-top card-img" alt="{{ destinations.destination }}">
            </a>
            <div class="card-body">
                <a href="#" class="destination-link">
                    <h5 class="card-title">{{ destinations.destination }}</h5>
                </a>
                <p class="card-text">{{ destinations.destination_subheading }}</p>
                <p class="card-text"><small>{{ destinations.created_on }}</small></p>
                <a href="" class="btn btn-primary post-btn mt-auto">View Post</a>
            </div>
            {% else %}
            <a href="#">
                <img src="/media/card-placeholder.png" class="card-img-top card-img" alt="Placeholder image">
            </a>
            <div class="card-body">
                <a href="#" class="destination-link">
                    <h5 class="card-title">{{ destinations.destination }}</h5>
                </a>
                <p class="card-text">{{ destinations.destination_subheading }}</p>
                <p class="card-text"><small>{{ destinations.created_on }}</small></p>
                <a href="#" class="btn btn-primary post-btn mt-auto">View Post</a>
            </div>
            {% endif %}
        </div>
        {% empty %}
        <div>
            <p>No Destinations to display</p>
        </div>
        {% endfor %}
    </div>
    <!-- Site Pagination, maximum 12 recipes per page. From Code Institute Codestar Follow Along Project -->
    <div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark all-btn page">&laquo; Prev
                    </a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-dark all-btn page"> Next &raquo;</a>
                </li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

{% endblock %}