{% extends "base.html" %}
{%load static%}
{% block title %}{{ full_destination.destination }}{% endblock %}

<!-- Additional CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'travel_destinations/css/destinations.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <!-- Heading and subheading -->
    <h1 class="headings destination-page-header">{{ dest.destination }}</h1>
    <p class="dest-subheading">{{ dest.destination_subheading }}</p>

    <!-- Intro image and content -->
    <div class="dest-content">
        {% if dest.destination_image %}
            <img src="{{ dest.destination_image.url }}" alt="destination image" class="img-center dest-img">
        {% endif %}
        <p class="dest-content mt-4">{{ dest.intro }}</p>
    </div>

    <!-- Things to do Section -->
    {% if dest.activities %}
        <h2 class="headings destination-page-header">What to do</h2>
        <div class="dest-content">
            <!-- Activities Image -->
            {% if dest.activity_image %}
                <img src="{{ dest.activity_image.url }}" alt="activities image" class="img-center dest-img">
            {% endif %}
            <p class="dest-content mt-4">{{ dest.activities }}</p>
        </div>
    {% endif %}

    <!-- What to Eat Section -->
    {% if dest.food %}
        <div class="dest-content">
            <h2 class="headings destination-page-header">What to eat</h2>
            <!-- Food Image -->
            {% if dest.food_image %}
                <img src="{{ dest.food_image.url }}" alt="food image" class="img-center dest-img">
            {% endif %}
            <p class="dest-content mt-4">{{ dest.food }}</p>
        </div>
    {% endif %}

    <!-- Additional Info Section -->
    {% if dest.additional_info %}
        <div class="dest-content">
            <h2 class="headings destination-page-header">Additional Info</h2>
            {% if dest.additional_image %}
                <!-- Additional images -->
                <img class="img-center dest-img" src="{{ dest.additional_image.url }}" alt="{{ post.title }}"/>
            {% endif %}
            <p class="dest-content mt-4">{{ dest.additional_info }}</p>
        </div>
    {% endif %}

        <!-- Page break div to separate each section -->
    <div>
        <img src="/media/page-break.png" alt="Page Break Image" class="page-break img-center">
    </div>

    <a class="post-btn mb-5 back-btn" href="{% url 'destinations' %}">Back to All Destinations</a>

</div>
{% endblock %}