{% extends "base.html" %}
{%load static%}
{% block title %}{{ full_destination.destination }}{% endblock %}

<!-- Additional CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'travel_destinations/css/destinations.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <!-- Heading and subheading -->
    <h1 class="headings destination-page-header">{{ dest.destination }}</h1>
    <p class="dest-subheading">{{ dest.destination_subheading }}</p>

    <!-- Intro image and content -->
    <div class="dest-content">
        <img src="{{ dest.destination_image.url }}" alt="destination image" class="img-center dest-img">
        <p class="dest-content mt-4">{{ dest.intro }}</p>
    </div>

    <!-- Things to do Section -->
    <h2 class="headings destination-page-header">What to do</h2>
    <div class="dest-content">
        <img src="{{ dest.activity_image.url }}" alt="activities image" class="img-center dest-img">
        <p class="dest-content mt-4">{{ dest.activities }}</p>
    </div>

    <!-- What to Eat Section -->
    <div class="dest-content">
        <h2 class="headings destination-page-header">What to eat</h2>
        <img src="{{ dest.food_image.url }}" alt="food image" class="img-center dest-img">
        <p class="dest-content mt-4">{{ dest.food }}</p>
    </div>

    <!-- Additional Info Section -->
    {% if dest.additional_info %}
        <div class="dest-content">
            <h2 class="headings destination-page-header">Additional Info</h2>
            {% if dest.additional_image %}
            <!-- article images -->
            <img class="img-center dest-img" src="{{ dest.additional_image.url }}" alt="{{ post.title }}"/>
            {% endif %}
            <p class="dest-content mt-4">{{ dest.additional_info }}</p>
        </div>
    {% endif %}
  
    <!-- Page break div to separate each section -->
    <div>
        <img src="/media/page-break.png" alt="Page Break Image" class="page-break img-center">
    </div>

</div>
{% endblock %}