{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    <!-- Core CSS Links, -->
    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="https://kit.fontawesome.com/5f5081d5be.js" crossorigin="anonymous"></script>
    {% endblock %}

    <!-- Extra CSS Block, required for all CSS not contained within the root static folder -->
    {% block extra_css %}
    {% endblock %}
</head>

<body>
    <div class="content">
        <div class="container-fluid navbar-bg">
            <!-- Homepage Navigation -->
            <nav class="navbar navbar-expand-lg">
                <div class="nav-div">
                    <div>
                        <a class="navbar-brand page-title" href="{% url 'home' %}">The London Escapists</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Top Destinations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'destinations' %}">Destinations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Travel Packing</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Block Content -->
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <!-- Footer -->
        <footer>
            <div class="footer">
                <!-- Social Media Links -->
                <div class="socials">
                    <a href="#">
                        <i class="fa-brands fa-instagram footer-icons"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-pinterest footer-icons"></i>
                    </a>
                </div>
                <!-- Copyright -->
                <div class="copyright">
                    <p class="copyright-p"><i class="fa-regular fa-copyright copyright-icon"></i>Samantha Booth, 2022
                    </p>
                </div>
            </div>
        </footer>
    </div>
    <!-- Bootstrap Javascript CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>
    <!-- Mailchimp Javascript -->
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
    </script>
    <script type='text/javascript'>
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
</body>

</html>